<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="index.html"><img src="~/adminassets/images/logo/logo.png" alt="Logo" srcset=""></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item ">
                    <a href="index.html" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Tổng Quan</span>
                    </a>
                </li>

                <li class="sidebar-item  ">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Quản Lý Đơn Hàng</span>
                    </a>
                    
                </li>

                <li class="sidebar-item  ">
                    <a class='sidebar-link' asp-controller="AdminProducts" asp-action="Index">
                        <i class="bi bi-collection-fill"></i>
                        <span >Quản Lý Sản Phẩm</span>
                    </a>
                    
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-collection-fill"></i>
                        <span>Quản Lý Hệ Thống</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="extra-component-avatar.html">Quản Lý Danh Mục Sản Phẩm</a>
                        </li>
                        <li class="submenu-item ">
                            <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index" >Quản Lý Quyền Truy Cập</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="extra-component-sweetalert.html">Quản Lý Tài Khoản</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-collection-fill"></i>
                        <span>Quản Lý Tin Tức</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="extra-component-avatar.html">Quản Lý Khuyến Mãi</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="extra-component-sweetalert.html">Quản Lý Sự Kiện</a>
                        </li>
                      
                    </ul>
                </li>

                <li class="sidebar-item ">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-collection-fill"></i>
                        <span>Quản Lý Trang</span>
                    </a>
                   
                </li>

                <li class="sidebar-item  ">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-collection-fill"></i>
                        <span>Quản Lý Shipper</span>
                    </a>
                   
                </li>

              

                <li class="sidebar-title">Thống Kê</li>

                <li class="sidebar-item  ">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-hexagon-fill"></i>
                        <span>Doanh Thu</span>
                    </a>
                    
                </li>

               

            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
